extends layout

block content
  div.row
    section
      div.col-md-10.col-md-offset-1
        h2 
        div.col-md-6
          h3 Login
          form(data-toggle='validator' role='form' method='post' action='/login' autocomplete='off')
            //- email
            div.form-group
              label(for='email') Email
              input(class='form-control' type='email' placeholder='miles@bainbridge' id='email' name='email')
            //- password
            div.form-group
              label(for='password') Password
              input(class='form-control' type='password' placeholder='xxxxxxx' id='password' name='password')
            div.form-group
              div.col-md-12
              button.btn.btn-success(type='submit') Login
        div.col-md-6
          h3 Register
          form(id="register" class="form-horizontal" method='post' action='/test-a' autocomplete='off')
            //- first name
            div.form-group
              label(for='fname') First Name:
              //- input#fname.form-control(type='fname', placeholder='miles' name='fname')
              input(class='form-control' type='fname' placeholder='miles' id='fname' name='fname')
            //- last name
            div.form-group
              label(for='lname') Last Name:
              //- input#lname.form-control(type='lname', placeholder='bainbridge' name='lname')
              input(class='form-control' type='lname' placeholder='bainbridge' id='lname' name='lname')
            //- username
            div.form-group
              label(for='username') Username:
              //- input#username.form-control(type='username', placeholder='mbain' name='username')
              input(class='form-control' type='username' placeholder='mbain' id='username' name='username')
            //- email
            div.form-group
              label(for='email') Email: 
              //- input#email.form-control(type='email', placeholder='miles@bainbridge' name='email')
              input(class='form-control' type='email' placeholder='mbain@mail.sfsu.edu' id='email' name='email')
            //- password
            div.form-group
              label(for='password') Password: 
              //- input#password.form-control(type='password', placeholder='xxxxxxx' name='password')
              input(class='form-control' type='password' placeholder='xxxxxxx' id='password' name='password')
            //- confirm password
            div.form-group
              label(form='confirmpassword') Confirm Password:
              //- input#confirmpassword.form-control(type='confirmpassword', placeholder='xxxxxxx' name='confirmpassword')
              input(class='form-control' type='password' placeholder='xxxxxxx' id='confirmpassword' name='confirmpassword')
            div.form-group
              div.col-md-12
              button.btn.btn-success(type='submit') Register
