<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="container">

        <div class="row">
            <section>
                <div class="col-md-10 col-md-offset-1">

                    <h2 style='text-align: left;'>Let's Connect</h2>

                    <div class="col-md-6">

                        <h3 style='text-align: left;'>Login</h3>

                        <form id="signin" class="form-horizontal" method="post" action="/land" autocomplete="off">

                            <!-- email -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>text<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" name="logemail" id="logemail" type="logemail" placeholder="example@example.com" required/>
                                </div>
                            </div>

                            <!-- password -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>password<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="logpassword" id="logpassword" type="logpassword" placeholder="xxxxxxx" required="" />
                                </div>
                            </div>

                            <!-- buttons -->
                            <div class="form-group">
                                <div class="col-md-12" style='text-align: right;'>
                                    <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="col-md-6">

                        <h3 style='text-align: left;'>Register</h3>

                        <form id="register" class="form-horizontal" method="post" action="/" autocomplete="off">

                            <!-- first name -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>first name<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="fname" id="fname" type="fname" placeholder="miles" required pattern="^[a-zA-Z]+$"/>
                                </div>
                            </div>

                            <!-- last name -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>last name<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="lname" id="lname" type="lname" placeholder="bainbridge" required pattern="^[a-zA-Z]+$"/>
                                </div>
                            </div>

                            <!-- username -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>username<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="username" id="username" type="lname" placeholder="example" required pattern="^[a-zA-Z0-9]+$" />
                                </div>
                            </div>

                            <!-- email -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>email<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" name="remail" id="remail" type="lname" placeholder="example@example.com" required />
                                </div>
                            </div>

                            <!-- password -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>password<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="rpassword" id="rpassword" type="rpassword" placeholder="xxxxxxx" required />
                                </div>
                            </div>

                            <!-- confirm password -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>confirm password<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="rconfirmpassword" id="rconfirmpassword" type="rconfirmpassword" placeholder="xxxxxxx" required />
                                </div>
                            </div>


                            <!-- buttons -->
                            <div class="form-group">
                                <div class="col-md-12" style='text-align: right;'>
                                    <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
            </section>

        </div>

    </div>
    <!-- /container -->
    <script src = "js/form.js"></script>
      <script src="/js/bootstrap.js"></script>
</body>

</html>
