<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="container">

        <div class="row">
            <section>
                <div class="col-md-10 col-md-offset-1">

                    <h2 style='text-align: left;'>Let's Connect</h2>

                    <div class="col-md-6">

                        <h3 style='text-align: left;'>Login</h3>

                        <form id="signin" class="form-horizontal" method="post" action="/" autocomplete="off">

                            <!-- email -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>email<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="fname" id="fname" type="fname" placeholder="example@example.com" />
                                </div>
                            </div>

                            <!-- password -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>password<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="lname" id="lname" type="lname" placeholder="xxxxxxx" />
                                </div>
                            </div>

                            <!-- buttons -->
                            <div class="form-group">
                                <div class="col-md-12" style='text-align: right;'>
                                    <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="col-md-6">

                        <h3 style='text-align: left;'>Register</h3>

                        <form id="register" class="form-horizontal" method="post" action="/" autocomplete="off">

                            <!-- first name -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>first name<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="fname" id="fname" type="fname" placeholder="miles" />
                                </div>
                            </div>

                            <!-- last name -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>last name<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="lname" id="lname" type="lname" placeholder="bainbridge" />
                                </div>
                            </div>

                            <!-- username -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>username<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="uname" id="uname" type="uname" placeholder="example" />
                                </div>
                            </div>

                            <!-- email -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>email<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="email" id="email" type="email" placeholder="example@example.com" />
                                </div>
                            </div>

                            <!-- password -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>password<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="pass" id="pass" type="pass" placeholder="xxxxxxx" />
                                </div>
                            </div>

                            <!-- confirm password -->
                            <div class="form-group">
                                <p class="col-md-3 control-label"><b>confirm password<b style='color: red;'>*</b></b>
                                </p>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="passconf" id="passconf" type="passconf" placeholder="xxxxxxx" />
                                </div>
                            </div>


                            <!-- buttons -->
                            <div class="form-group">
                                <div class="col-md-12" style='text-align: right;'>
                                    <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
            </section>

        </div>

    </div>
    <!-- /container -->

</body>

</html>
